<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>臻原网-影院</title>

    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" href="./static/css/cinema.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>


<div id="top">
    <div class="top_main">
        <div class="top_main_left">
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                欢迎来到臻原网，一起来享受电影给我们带来的快乐吧</p>
        </div>
    </div>
</div>
<nav>

    <div class="nav">
        <div class="nav_item">
            <a style="text-decoration:none;" href="/movie">
                <p>电影</p>
                <p>Movie</p>
            </a>
        </div>
        <div class="nav_item">
            <a style="text-decoration:none;" href="/movie/cinema">
                <p>影院</p>
                <p>Cinema</p>
            </a>
        </div>
        <li id="reg" th:unless="${isLogin}"><a href="/movie/register">注册</a></li>
        <li id="login" th:unless="${isLogin}"><a href="/movie/login">登录</a></li>
        <li id="logout" th:if="${isLogin}"><a href="/movie/logout">退出</a></li>
    </div>
</nav>
<div class="container">
    <div class="row">

        <div class="col-xs-12" style="padding:0 5px;" th:each="cinema:${cinemas}">
            <a style="position:relative;display:block;" title="OAC影城" target="_blank" href=""></a>
            <div class="met">
                <a th:href="@{'/cinema/'+${cinema.getId()}}" target="_blank" title="OAC影城"
                   th:text="${cinema.getName()}">OAC影城</a>
                <div style="text-align:right;">
                    <a href="">
                    </a>
                </div>
                <div class="otherinf" th:text="${cinema.getArea().getName()}">
                    地址：富阳区富春街道桂花西路82号
                </div>
            </div>
        </div>
    </div>
    <!-- 分页 -->
    <div class="pager-bg">
        <ul class="pagination pagination-sm">
            <li>
                <a th:if="${page}!=1" th:href="@{'/cinema?page='+${page-1}}" data-ci-pagination-page="2"
                   rel="next">上一页</a>
            </li>
            <li class="active">
                <a th:text="${page}">1</a>
            </li>
            <li>
                <a th:if="${pages.getPageNum()==0||pages.getPageNum()<pages.getPages()}" th:href="@{'/cinema?page='+${page+1}}" th:text="${page+1}" data-ci-pagination-page="2">2</a>
            </li>
            <li>
                <a th:unless="${pages.isIsLastPage()}" th:href="@{'/cinema?page='+${page+1}}"
                   data-ci-pagination-page="2" rel="next">下一页</a>
            </li>
            <!--            <li><a th:if="${pages.isIsLastPage()}" th:href="@{'?page='+${pages.getPageNum()}}">&raquo;</a></li>-->
<!--            <li><a th:unless="${pages.isIsLastPage()}" th:href="@{'/cinema?page='+${page+1}}">&raquo;</a></li>-->
        </ul>
    </div>
</div>
<footer>
    <div class="foot">
        <p>

            <br>

        </p>
        <p></p>
        <p class="friend-link">

            <a target="_blank" href=""> </a>
        </p>
        <em>
            ♥
            <a href=""></a>
        </em>
    </div>
</footer>
</body>
</html>