<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <title>Cinema</title>
</head>
<body>
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
        <tr class="active">
            <th>ID</th>
            <th>NAME</th>
            <th>AREA</th>
            <th>CONTACT NUMBER</th>
            <th>SERVICE</th>
            <th>MANAGER</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="c: ${cinemas}">
            <td th:text="${c.getId()}"></td>
            <td th:text="${c.getName()}"></td>
            <td th:text="${c.getArea()}"></td>
            <td th:text="${c.getContactNumber()}"></td>
            <td th:text="${c.getService()}">service</td>
            <td>
                <button type="button" class="btn btn-default btn-sm btn-info edit"
                        th:onclick="'javascript:jumpEdit('+${c.getId()}+')'">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit
                </button>
                <button type="button" class="btn btn-default btn-sm btn-danger"
                        th:onclick="'javascript:jumpDel('+${c.getId()}+')'">
                    <span class="glyphicon glyphicon-trash delete" aria-hidden="true"></span> Del
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<br>
<div class="text-center">
    <ul class="pagination">
        <li><a th:if="${pages.isIsFirstPage()}" th:href="@{'?page='+${pages.getPageNum()}}">&laquo;</a></li>
        <li><a th:unless="${pages.isIsFirstPage()}" th:href="@{'?page='+${pages.getPageNum()-1}}">&laquo;</a></li>
        <li><a th:href="@{'?page='+${pages.getPageNum()}}" th:text="${pages.getPageNum()}">1</a></li>
        <li><a th:if="${pages.getPages()}>=2" th:href="@{'?page='+${pages.getPageNum()}}+1">2</a></li>
        <li><a th:if="${pages.getPages()}>=3" th:href="@{'?page='+${pages.getPageNum()}}+2">3</a></li>
        <li><a th:if="${pages.getPages()}>=4" th:href="@{'?page='+${pages.getPageNum()}}+3">4</a></li>
        <li><a th:if="${pages.getPages()}>=5" th:href="@{'?page='+${pages.getPageNum()}}+4">5</a></li>
        <li><a th:if="${pages.isIsLastPage()}" th:href="@{'?page='+${pages.getPageNum()}}">&raquo;</a></li>
        <li><a th:unless="${pages.isIsLastPage()}" th:href="@{'?page='+${pages.getPageNum()+1}}">&raquo;</a></li>
    </ul>
</div>
<div class="text-center">
    <input th:unless="${isLogin}" type="button" class="btn btn-success" value="login" onclick=javascrtpt:jump()>
    <input th:if="${isLogin}" type="button" class="btn btn-success" value="logout" onclick=javascrtpt:jumpLogout()>
    <input th:if="${isLogin}" type="button" class="btn btn-success" value="Add" onclick=javascrtpt:jumpAdd()>
</div>
<!--<form id="formrestful" action="" method="POST">-->
<!--    <input id="inputrestful" type="hidden" name="_method" value="">-->
<!--</form>-->
</body>
<script>
    function jump() {
        window.location.href = "/movie/login";
    }

    function jumpLogout() {
        window.location.href = "/movie/logout";
    }

    function jumpAdd() {
        window.location.href = "/movie/manage/cinema/add";
    }

    function jumpDel(id) {
        // var formdel = document.getElementById("formrestful");
        // var inputvalue = document.getElementById("inputrestful");
        // inputvalue.value = "DELETE";
        // formdel.action = "/movie/manage/cinema/" + id;
        // formdel.submit();
        window.location.href = "/movie/manage/cinema/del/" + id;
    }

    function jumpEdit(id) {
        // var formdel = document.getElementById("formrestful");
        // var inputvalue = document.getElementById("inputrestful");
        // inputvalue.value = "PUT";
        // formdel.action = "/movie/manage/cinema/" + id;
        // formdel.submit();
        window.location.href = "/movie/manage/cinema/edit/" + id;
    }
</script>
<script src="https://code.jquery.com/jquery.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</html>