<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>详情页</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="./static/css/detail.css">
</head>
<body>
<nav>
    <div class="nav">
        <div class="nav_item">
            <a style="text-decoration:none;" href="/movie">
                <p>电影</p>
                <p>Movie</p>
            </a>
        </div>
        <div class="nav_item">
            <a style="text-decoration:none;" href="/movie/cinema">
                <p>影院</p>
                <p>Cinema</p>
            </a>
        </div>
        <li id="reg"><a href="/movie/register">注册</a></li>
        <li id="login"><a href="/movie/login/user">登录</a></li>
    </div>
</nav>
<div class="container">
    <div class="container-fluid" style="background:#fff;padding-top:15px;">
        <ol class="breadcrumb">
            <li><a href="/movie">电影</a></li>
            <li><span th:text="${movie.getName()}"></span></li>
        </ol>
        <div class="row">
            <div class="col-xs-9 movie-info padding-right-5" style="width:780px;">
                <h1 th:text="${movie.getName()}"></h1>
                <div class="row">
                    <div class="col-xs-4 padding-right-0">
                        <a class="movie-post" href=""
                           style="display:block;position:relative;">
                            <img class="img-thumbnail" th:alt="${movie.getName()}"
                                 th:src="${movie.getAlbumImg()}" width="100%">
                        </a>
                    </div>
                    <div class="col-xs-8">
                        <table class="table table-striped table-condensed table-bordered"
                               style="margin-bottom:10px;font-size:12px;">
                            <tbody>
                            <tr>
                                <td class="span2">
                                    <span class="info-label">导演</span>
                                </td>
                                <td>
                                    <a target="_blank" th:text="${movie.getDirector()}"></a>
                                </td>
                            </tr>
<!--                            <tr>-->
<!--                                <td class="span2">-->
<!--                                    <span class="info-label">编剧</span>-->
<!--                                </td>-->
<!--                                <td>-->
<!--                                    <a target="_blank" th:text="${movie.getWriter()}"></a>-->
<!--                                </td>-->
<!--                            </tr>-->
                            <tr>
                                <td class="span2">
                                    <span class="info-label">主演</span>
                                </td>
                                <td>
                                    <a target="_blank" th:text="${movie.getStarring()}"></a>
                                </td>
                            </tr>
                            <tr>
                                <td class="span2">
                                    <span class="info-label">类型</span>
                                </td>
                                <td>
                                    <!--                                    <span th:each="t:${movie.getType()}">-->
                                    <a target="_blank" th:text="${movie.getType()}"></a>
                                    <!--                                    </span>-->
                                </td>
                            </tr>
                            <tr>
                                <td class="span2">
                                    <span class="info-label">地区</span>
                                </td>
                                <td>
                                    <a target="_blank" th:text="${movie.getArea()}"></a>
                                </td>
                            </tr>
                            <tr>
                                <td class="span2">
                                    <span class="info-label">语言</span>
                                </td>
                                <td th:text="${movie.getLanguage()}"></td>
                            </tr>
                            <tr>
                                <td class="span2">
                                    <span class="info-label">上映时间</span>
                                </td>
                                <td th:text="${movie.getFormatDate()}"></td>
                            </tr>
                            <tr>
                                <td class="span2">
                                    <span class="info-label">片长</span>
                                </td>
                                <td th:text="${movie.getLength()}+分钟"></td>
                            </tr>
                            <tr>
                                <td class="span2">
                                    <span class="info-label">又名</span>
                                </td>
                                <td th:text="${movie.getOtherName()}"></td>
                            </tr>
                            <tr>
                                <td class="span2">
                                    <span class="info-label">评分</span>
                                </td>
                                <td>
                                    <span th:text="${movie.getScore()}"></span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <a href="/movie/ticket?" type="button" class="btn btn-success">购票</a>
                    </div>
                </div>
                <div class="row" style="margin-top:5px;">
                    <div class="col-xs-12">
                        <h2>电影介绍</h2>
                    </div>
                    <div class="col-xs-12 movie-introduce" th:text="${movie.getIntroduction()}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <h2>影片标签</h2>
                    </div>
                    <div class="col-xs-12 tags">
                        <span th:each="t:${movie.getTags()}">
                            <a class="tag" target="_blank" th:href="@{'/movie/tag/'+${t.getId()}}"
                               th:text="${t.getName()}"></a>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <h2>影片评论</h2>
                    </div>
                    <div class="c">
                        <div class="row">
                            <div class="col-xs-12">
                                <div style="margin-top:10px;">
                                    <hr class="dline">
                                    <div style="border:2px dashed #CCC;margin-bottom:25px;color:#777;border-radius:5px;height:50px;line-height:50px;font-size:14px;text-align:center;font-family:'宋体'">
                                        暂无评论
                                    </div>
                                </div>
                                <ul id="pager"></ul>
                            </div>
                            <div class="col-xs-12">
                                <div class="alert-x alert-info reply-box">
                                    <strong>提示：</strong>
                                    <a href="/movie/register">[注册]</a>
                                    /
                                    <a href="/movie/login/user">[登入]</a>
                                    之后才能评论
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="foot">
            <p>
                免责声明：本网站所有内容都是靠程序在互联网上自动搜集而来，仅供测试和学习交流。
                <br>
                目前正在逐步删除和规避程序自动搜索采集到的不提供分享的版权影视。
            </p>
            <em>
                ♥
            </em>
        </div>
    </footer>
</div>
</body>
</html>